main {
    width: 100%;
}
.subject {
   display: flex;
   flex-direction: column;
   @media (min-width: 992px) { text-align: center; }

   h2 {
    margin: auto;
  }
  .underline:after {
    top: -6px;
    @media (min-width: 768px) { 
        height: 0.42rem;
        border-radius: 0.1rem;
        top: -8px;
    }
    @media (min-width: 992px) { 
        top: -10px;
        height: 0.64rem;
    }
    @media (min-width: 1200px) { top: -9px; }
  }

  p {
    margin-top: 2.2rem;
    word-break: break-all;
    @media (min-width: 992px) { margin-top: 2rem; }
  }
}


.underline{
  z-index: 2;
  &::after {
    content: "";
    width: 104%;
    top: -0.25rem;
    left: -2%;
    height: 0.4375rem;
    position: relative;
    display: block;
    background-color: var(--logo-green-light);
    z-index: -1;
    border-radius: 0.125rem;
    transition: 0.5s;
    @media (min-width: 992px) { 
        top: -0.51rem;
        height: 0.64rem;
     }
  }
}







