

main {
    width: 100%;
}


.subject {
   display: flex;
   flex-direction: column;
}
.subject h2 {
  margin: auto;
}
.subject .underline:after {
  top: -6px;
}

.underline{
  z-index: 2;
}
.underline::after {
  content: "";
  width: 104%;
  top: -0.25rem;
  left: -2%;
  height: 0.4375rem;
  position: relative;
  display: block;
  background-color: var(--logo-green-light);
  z-index: -1;
  border-radius: 0.125rem;
  transition: 0.5s;
}
.subject p {
  margin-top: 2.2rem;
  word-break: break-all;
}

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .underline::after {
        top: -0.32rem;
        height: 0.42rem;
        border-radius: 0.1rem;
      }
      .subject .underline:after {
        top: -8px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}


