.back-to-top{
    display: none;
}

.back-to-top-float-box {
    position: fixed;
    right: 5vw;
    bottom: 3vh;
    opacity: 0.9;
    z-index: 3;
    cursor: pointer;
}
.back-to-top-float {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    background-color: var(--logo-green-middle);
    width: 11.5vw;
    height: 11.5vw;
}
.back-to-top-float svg {
    width: 46%;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .back-to-top-float-box {
        position: fixed;
        right: 5vw;
        bottom: 4vh;
    }
    .back-to-top-float {
        width: 8vw;
        height: 8vw;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .back-to-top-float-box {
        right: 3vw;
        right: 6vw;
        bottom: 5vh;
    }
    .back-to-top-float {
        width: 5vw;
        height: 5vw;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .back-to-top-float-box {
        opacity: 1;
        right: 3vw;
        bottom: 6vh;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .back-to-top-float-box {
        right: 2vw;
        bottom: 4vh;
    }
    .back-to-top-float {
        width: min(60px,4vw);
        height: min(60px,4vw);
    }
}