/********** header ************/
header {
    height: 0;
}
.header-container {
    top: 3vh;
}

/********** banner ************/
.banner {
    width: 100%;
    height: calc(100vh - 66px);
    height: 100vh;
    border-radius: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 565px;
}
.home-banner{
    background-image: url(img/banner.jpg);
}
.course-banner{
    background-image: url(img/course-banner.JPG);
    background-position: right;
}
.resume-banner{
    background-image: url(img/resume-banner.JPG);
    background-position: right;
}
.banner>.container {
    width: unset;
}
.banner-slogan {
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 11px #000000e6;
    width: 100vw;
    margin-top: max(74vh,379px);
    text-align: center;

}
.banner-slogan h1,.banner-slogan p  {
    color: #fff;

}
.banner-slogan h1 {
    font-weight: normal;
    font-weight: bold;
    font-size: 1.8rem;
}
.banner-slogan p {
    font-size: 0.875rem;
    line-height: 1.3rem;
    margin-top: 1rem;
    letter-spacing: 2px;
}



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .banner-slogan {
        margin-top: max(74vh,379px);
    }
    .banner-slogan h1 {
        font-size: 2.2rem;
    }
    .banner-slogan p {
        font-size: 1rem;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .banner-slogan h1 {
        font-size: 1.8rem;
    }
    
    .banner-slogan p {
        font-size: 0.7rem;
        margin-top: 0.5rem;
        letter-spacing: 3px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    header {
        /* height: 2rem; */
        height: 0;
    }
    .header-container {
        border-radius: 0.6rem;
        top: 3vh;
    }
    header > .container {
        width: min(90%,960px);
    }
    .banner {
        /* height: 98vh; */
        height: 100vh;
    }
    .banner > .container {
        width: min(90%,960px);
    }
    .banner-slogan {
        text-align: right;
        margin-top: max(77vh,436px);
        height: 20vh;
        border-radius: 5px;
        width: unset;
        float: right;
    }
    .banner-slogan > .container {
        width: unset;
        margin: unset;
    }
    .banner-slogan h1 {
        font-size: 2.8rem;
    }
    .banner-slogan p {
        font-size: 1rem;
        margin-top: 0.6rem;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    header > .container {
        width: min(85%,1240px);
    }
    .banner > .container {
        width: min(85%,1240px);
    }
    .banner-slogan h1 {
        font-size: 2.4rem;
        
    }
    .banner-slogan p {
        margin-top: 0.8rem;
        font-size: 1.2rem;
    }
    
 }
