.co-list {
    position: unset;
    width: unset;
    height: unset;
    top: unset;
    left: unset;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}
.co-list  .list-block-style {
        background-color: transparent;
        border: unset;
        border: unset;
}
.co-list .type {
    color: var(--logo-green-middle);
}
.co-list .list-frame {
    height: unset;
    overflow-y: visible;
    overflow-y: hidden;
    height: 390px;
    margin-bottom: 2rem;
}
.co-list .list-block {
    height: unset;
    margin-top: 0;
}
.co-list  .list-bar {
    padding: 0;
}
.collaboration-container {
    flex-direction: column;
    padding: 0;
}
.collaboration-block {
    height: unset;
    padding: 2rem 0;
}
.collaboration-container {
    height: unset;
}
.collaboration-block {
    height: unset
 }
.list h6{
    line-height: 1.4;
}
 .inside-list-btn{
    width: 210px;
 }

 .inside-list-close{

 }
 .inside-list-close svg{
    
}

@media (min-width: 576px) {
    .inside-list-btn {
        width: 250px;
    }
    .collaboration-btn svg {
        right: 1.2rem;
    }
    
}

@media (min-width: 768px) {
    .list p {
        font-size: 0.7rem;
    }
    .inside-list-btn {
        width: 310px;
    }
    .collaboration-btn p {
        font-size: 0.94rem;
    }
    .collaboration-btn svg {
        right: 1.4rem;
        width: 0.8rem;
    }
    .photo-btn{
        font-size: 0.94rem;
    }
}
@media (min-width: 992px) {
    .co-list {
        margin-top: 0;
    }
    .co-list .list-frame {
        height: 340px;
        margin-bottom: 1.8rem;
    }
    .type {
        width: 100%;
        margin: 0.6rem auto 1.8rem 0;
    }
    .list h6 {
        width: 44%;
    }
    .list p {
        width: 48%;
        font-size: 0.85rem;
    }
    .list-content {
        display: flex;
    }
    .list-box {
        padding: 0.9375rem 1.1rem 0.9375rem 1.5rem;
    }
    .collaboration-btn p {
        font-size: 1.1rem;
    }
    .collaboration-btn svg {
        right: -0.5rem;
    }
    .photo-btn {
        font-size: 1.1rem;
    }
}
@media (min-width: 1200px) {
    .list-box {
        padding: 1rem 1.3rem 1rem 2.5rem;
    }
    .collaboration-btn {
        padding: 0px 2% 0 4%;
        max-width: 12.4rem;
    }
    .collaboration-btn svg {
        right: 0;
    }
    .list h6 {
        line-height: 1.4rem;
    }
    .list p {
        font-size: 0.94rem;
    }
}