.co-list {
    position: unset;
    width: unset;
    height: unset;
    top: unset;
    left: unset;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}
.co-list  .list-block-style {
        background-color: transparent;
        border: unset;
        border: unset;
}
.co-list .type {
    color: var(--logo-green-middle);
}
.co-list .list-frame {
    height: unset;
    overflow-y: visible;
    overflow-y: hidden;
    height: 390px;
    margin-bottom: 2rem;
}
.co-list .list-block {
    height: unset;
    margin-top: 0;
}
.co-list  .list-bar {
    padding: 0;
}
.collaboration-container {
    flex-direction: column;
    padding: 0;
}
.collaboration-block {
    height: unset;
    padding: 2rem 0;
}
.collaboration-container {
    height: unset;
}
.collaboration-block {
    height: unset
 }
 .inside-list-btn{
    
    background-color: var(--logo-green);
 }

 .resume-btn{
    width: 210px;
    text-align: center;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    align-self: center;
}
.photo-btn {
    background-color: var(--logo-yellow);
    color: #fff;
    text-align: center;
    margin: 2rem auto 0 auto;
}
.resume-btn p {
    color: #fff;
    margin: auto;
    font-size: 18px;
}
.resume-btn svg {
    width: 0.85rem;
    position: absolute;
    right: 1.3rem;
    margin: auto;
    transition: 0.3s;
}
.photo-btn svg {
    width: 26px;
}
.resume-btn:hover svg{
    transform: rotate(-15deg);
}

 .inside-list-close{

 }
 .inside-list-close svg{
    
}

@media (min-width: 576px) {
    .resume-btn {
        width: 250px;
        max-width: 21rem;
        height: 2.7rem;
    }
    .resume-btn p {
        font-size: 20px;
    }
    .resume-btn svg {
        right: 1.2rem;
    }
    
}

@media (min-width: 768px) {
    .resume-btn {
        width: 260px;
        height: 56px;
    }
    .resume-btn p {
        font-size: 0.94rem;
    }
    .resume-btn svg {
        right: 24px;
        width: 0.8rem;
    }
    .photo-btn svg{
        width: 28px;
    }
}
@media (min-width: 992px) {
    .co-list {
        margin-top: 0;
    }
    .co-list .list-frame {
        height: 340px;
        margin-bottom: 1.8rem;
    }
    .type {
        width: 100%;
        margin: 0.6rem auto 1.8rem 0;
    }
    .list h6 {
        width: 44%;
    }
    .list p {
        width: 48%;
    }
    .list-content {
        display: flex;
    }
    .list-box {
        padding: 0.9375rem 1.1rem 0.9375rem 1.5rem;
    }
    .resume-btn {
        max-width: 13rem;
        justify-content: space-evenly;
        padding: 0px 2% 0 4%;
    }
    .photo-btn {
        padding: 0px 2% 0 5%;
    }
    .resume-btn p {
        font-size: 1.1rem;
        margin: unset;
    }
    .resume-btn svg {
        right: -0.5rem;
        position: relative;
        margin: unset;
    }
}
@media (min-width: 1200px) {
    .list-box {
        padding: 1rem 1.3rem 1rem 2.5rem;
    }
    .resume-btn {
        padding: 0px 2% 0 4%;
        max-width: 12.4rem;
        justify-content: space-between;
        width: 224px;
        height: 54px;
    }
    .photo-btn{
        padding: 0px 2% 0 5%;
    }
    .resume-btn svg {
        right: 0;
    }
}