:root{
    --word-color:#2F2F2F;
    --logo-yellow:#F4AA14;
    --logo-green:#0B8D97;
    --logo-yellow-light:#FFD06F;
    --logo-green-light:#18CCD9;
    --background-color:#fff;
    --close-white-color:#FDFEFC;
    --logo-green-middle:#10A4AF;
    --word-color-light:#313131;
    --word-color-light-light:#696969;
    --bg-dark:#4E4D52;
  }
*{
    position: relative;
}

.resume-banner-style{
    background-image: url(img/resume-banner.JPG);
    background-position: right;
    background-repeat: no-repeat;

}
.banner-block-resume {
    height: calc(100vh - 55px);
}
main {
    background-color: var(--logo-green-light);
    background-color: #fff;
    padding-top: 4rem;
}
.collaboration {
    width: 100%;
    margin-bottom: 4rem;
}
.collaboration-block {
    height: 10.375rem;
    border-radius: 0.3125rem;
    border: 0.2rem solid var(--logo-green-middle);
    margin-top: 2.2rem;
}
.collaboration-container {
    width: 100%;
    height: 100%;
    padding: 2.5rem 0.9375rem 1.25rem 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.collaboration h2 {
    font-size: 1.25rem;
    text-align: center;
    font-weight: normal;
}
.collaboration-btn {
    width: 100%;
    text-align: center;
    height: 3rem;
    font-size: 1.125rem;
    background-color: var(--logo-green);
    display: flex;
    border-radius: 0.45rem;
    align-items: center;
    cursor: pointer;
    align-self: center;
}

.collaboration-btn p {
    color: #fff;
    margin: auto;
    font-size: 1rem;
}
.collaboration-btn svg {
    width: 0.85rem;
    position: absolute;
    right: 1.3rem;
    margin: auto;
    transition: 0.3s;
}
.collaboration-btn:hover svg{
    transform: rotate(-15deg);
}
.collaboration .co-list{
    /* display: block; */
}



.photo {
    width: 100%;
    background-color: #4E4D52;
    padding: 4rem 0 4rem 0;
}
.photo h2 {
    color: #fff;
}
.photo .underline::after {
    background-color: var(--logo-yellow);
}
.photo-frame {
    width: 100%;
    height: 765px;
    overflow: hidden;
    margin-top: 2.2rem;
}
/* .photo-frame-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset 0px -15px 1px #ffffff1f;
    z-index: 1;
} */
.photo-container {
    width: min(85%);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    
}
.photo-box {
    width: 100%;
}
.photo-img {
    width: 100%;
    height: auto;
    border-radius: 0.3125rem;
    /* border: 0.25rem solid var(--logo-yellow); */
    background-color: var(--logo-yellow);
}
.photo-btn {
    width: 200px;
    background-clip: ;
    background-color: var(--logo-yellow);
    color: #fff;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 2rem auto 0 auto;
    cursor: pointer;
}









/******************************** list ******************/
.popup{
    display: block !important;
}
.back-fixed{
    overflow: hidden;
}
.list {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000000bf;
    z-index: 3;
    display: none;
}
.list-block {
    height: 91vh;
    width: 100%;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}
.list-block-style{
    background-color: var(--logo-green-light);
    background-color: var(--logo-green-middle);
    border: 0.5rem solid var(--logo-green-middle);
    border-radius: 0.5rem;
}
.type {
    display: none;
}
.list-frame {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: scroll;
    border-radius: 0.35rem;
}
.list-bar {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.5rem 0;
}
.list-box {
    width: 100%;
    /* height: 7.375rem; */
    padding: 0.9375rem;
    background-color: #f4f4f4;
    border-radius: 0.25rem;
}
.list-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 0.875rem;
}
.list h6{
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    line-height: 1rem;
}
.list p{
    font-size: 0.75rem;
    color: #606060;
    letter-spacing: 0.05rem;
    line-height: 1.13rem;
}
.cross {
    width: 100%;
    height: 9%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 2% 3% 2% 0;
}
.cross svg {
    cursor: pointer;
}





/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .collaboration-btn {
        max-width: 21rem;
        height: 2.7rem;
    }

    
    .resume-banner-style {

    }
    .photo {
        padding: 4rem 0;
    }
    .photo-frame {
        height: 1230px;
    }
    .photo-container {
        width: min(90%);
    }
    .cross {
        padding: 2% 2% 2% 0;
    }
    .list h6 {
        font-size: 0.94rem;
    }
    .list p {
        font-size: 0.8rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .photo-frame {
        height: 895px;
    }
    .photo-container {
        width: min(90%);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 4%;
        grid-row-gap: 0.2rem;
    }
    .photo-box {
        height: 90%;
    }
    .photo-img {
        height: 100%;
        object-fit: cover;
        border-radius: 0.25rem;
    }
    .cross {
        padding: 1% 2% 0 0;
    }
    


}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .resume-banner-style {

    }
    .banner-block-resume {
        height: unset;
        padding-bottom: 5rem;
    }
    main {
        padding-top: 4rem;
    }
    .collaboration {
        margin-bottom: 4rem;
    }
    .collaboration-container {
        padding: 0 7.5% 0 8.5%;
        flex-direction: row;
        align-items: center;
    }
    .collaboration-block {
        height: 7.44rem;
    }
    .collaboration-btn {
        max-width: 13rem;
        justify-content: space-evenly;
        padding: 0px 2% 0 4%;
    }
    .collaboration-btn p {
        margin: unset;
        font-size: 1rem;
    }
    .collaboration-btn svg {
        position: relative;
        right: unset;
        margin: unset;
        width: 0.84rem;
    }

    /************************* list *******************/
    .type{
        display: flex;
        color: #fff;
        align-items: center;
        justify-content: space-around;
        width: 92%;
        margin: 0.6rem auto 1.2rem 0;
        font-size: 1.2rem;
    }
    .list-block-style {
        border: 1.2rem solid var(--logo-green-middle);
    }
    .list-frame {
        margin: auto;
        width: 100%;
    }
    .list-content {
        flex-direction: row;
        align-items: center;
    }
    .list h6 {
        width: 50%;
        font-size: 0.9rem;
    }
    .list p {
        line-height: 1.6rem;
        width: 50%;
        font-size: 0.9rem;
    }
    .list-bar {
        width: 96%;
    }
    .cross {
        height: min-content;
        padding: 0% 1% 0 0;
        
    }
    .cross svg{
        transition: 0.3s;
    }
    .cross:hover svg {
        transform: rotate(-90deg);
    }
    .cross svg {
        top: 0;
    }

    .photo-frame {
        height: 1080px;
    }



}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .photo-frame {
        height: 580px;
    }
    .photo-container {
        grid-template-columns: repeat(3,1fr);
        width: min(85%,1640px);
        grid-column-gap: 2%;
    }
    .collaboration-btn {
        width: 12.5rem;
        padding: 0 1.4rem 0 1.4rem;
        justify-content: space-between;
    }
    .collaboration h2 {
        font-size: 1.4rem;
    }
    .collaboration-btn p {
        font-size: 1.12rem;
    }
    .list-box {
        padding: 0.9375rem 2rem;
    }
    .list-content {
        gap: 7%;
    }
    .list p {
        font-size: 1rem;
    }
    .list h6 {
        font-size: 1rem;
    }

}