
html{
  font-size: 16px;  /* 1 rem = 16 px */
}
html{
  overflow-x: hidden;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1;
}
body{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif, PingFang,'Microsoft JhengHei'; */
    font-family: PingFang TC,'Microsoft JhengHei';
    vertical-align: baseline;  
    box-sizing: border-box;
    position: relative;
}
ol, ul {
  list-style: none;
}
a{
  color: var(--word-color);
}

:root{
  --word-color:#2F2F2F;
  --logo-yellow:#F4AA14;
  --logo-green:#0B8D97;
  --logo-yellow-light:#FFD06F;
  --logo-green-light:#18CCD9;
  --background-color:#fff;
  --close-white-color:#FDFEFC;
  --logo-green-middle:#10A4AF;

}
p{
  font-size: ;
  color: var(--word-color);
}
a {
  text-decoration: none;
}
h1{

}
h3 {
  color: var(--word-color);
  font-size: 1.7rem;
  }
.word-small{
  line-height: 1.56rem;
  letter-spacing: 0.1rem;
  font-size: 0.94rem;
  word-break: break-all;
}


header{
  height: 66px;
  box-shadow: 0 3px 5px #0000000f;
  display: flex;
  background-color: var(--logo-green-middle);
  z-index: 4;
}
.header-container {
  display: flex;
  background-color: #fff;
  width: 100%;
  border-radius: 0.25rem;
  height: 42px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 6% 0 8%;
}
#logo {
  width: 130px;
}
.hamburger{
  display: flex;
  width: min(7%,40px);
  align-items: center;
  cursor: pointer;
}
.hamburger img {
  width: 100%;
  margin: auto;
  position: absolute;
}
.nav {
  font-size: 1.15rem;
  padding: 5px 0;
}
.nav-bar{
  display: none;
}

@keyframes nav{
  0{
    top:0;
  }
  70%{
    top: -4px;
  }
  100%{
    top:0px;
  }
}
.page-now{
  color: var(--logo-green);
}
.nav-hover a{
  top:0;
  transition: 0.3s;
}
.nav-hover:hover a{
  top: -4px;
}
.nav-hover:hover a.page-now{
  top: 0;
}
.navi{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  background-color: var(--logo-green);
  padding: 30vh 15vw 35vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  font-size: 2rem;
  top: -100vh;
}
.close-icon{
  display: none;
}
.navi .nav{
  display: none;
  width: 100%;
}
.navi .nav a {
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navi a.page-now {
    color: var(--logo-yellow-light);
}
.navi svg {
  width: 9px;
}
.fb-link {
  width: 30px;
  align-self: center;
  top: 25vh;
}
.fb-link img {
  width: 100%;
}
.back-fixed{
    overflow: hidden;
}
.container{
  /* width: 100%; */
  width: min(90%);
  margin: auto;
}

.banner-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(83vh - 66px);
  z-index: 2;
}
.banner {
    width: 100%;
    background-color: #000;
    height: 93%;
    margin: auto;
}
.banner-style{
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position-x: center;
  border-radius: 0.94rem;
}
/* .banner-full{
  
}
.banner-full>.banner{
  height: 100%;
  border-radius: 0;
} */
.intro-block img{
  display: none;
}
.intro{
  font-size: 1rem;
  margin: 30px 5px;
}
.intro-style{
  line-height: 1.75rem;
  color: var(--word-color);
}
.down {
  margin-top: auto;
  margin-bottom: 3vh;
  height: 2rem;
  display: flex;
}
.down{
  display: none;
}
.down img {
  margin: auto;
  width: 7%;
  }
.gap {
    background-color: var(--logo-green-middle);
    width: 100%;
    /* height: 3.625rem; */
}
/********************** main ***********************/
  main {
    width: 100%;
    /* height: 100%; */
}

.about {
  width: 100%;
  padding-bottom: 6.25rem;
  padding-top: 4rem;
}
.subject {
   /* margin-top: 5rem; */
   display: flex;
   flex-direction: column;
}
.subject h2 {
  margin: auto;
  font-size: 1.75rem;
  /* border-bottom: 0.44rem solid var(--logo-green-light); */
}


.underline{
  z-index: 2;
  /* transition: 0.5s; */
}
.underline::after {
  content: "";
  width: 104%;
  top: -0.25rem;
  left: -2%;
  height: 0.4375rem;
  position: relative;
  display: block;
  background-color: var(--logo-green-light);
  z-index: -1;
  border-radius: 0.125rem;
  transition: 0.5s;
}
.about-content>.underline::after{
  background-color:var(--logo-yellow-light);
  top: -1rem;
}
.teacher .underline::after{
  background-color: var(--logo-yellow);
}



.subject p {
  margin-top: 2.2rem;
  line-height: 1.56rem;
  letter-spacing: 0.1rem;
  font-size: 0.94rem;
  word-break: break-all;
}
.about-container {
  margin-top: 3.125rem;
  width: 100%;
  height: ;
}
.about02,.about03 {
  margin-top: 6.23rem;
}
.about-block{
  display: flex;
  flex-direction: column;
  /* gap: 1.56rem; */
}
.about-pic {
  width: 100%;
  height: 14rem;
  background-size: cover;
  background-position: center;
  border-radius: 0.45rem;
  /* box-shadow: 0.31rem 0.31rem 0 var(--logo-green); */
  }
  .about01-pic{
    background-image: url(img/small-size/about01.jpg);
  }
  .about02-pic{
    background-image: url(img/small-size/about02.jpg);
  }
  .about03-pic{
    background-image: url(img/small-size/about03.jpg);
  }
.about-content {
    display: grid;
    grid-template-rows: 7.875rem 1fr;
    grid-template-columns: 1fr 1fr;
    /* grid-row-gap: 0.625rem; */
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
}
.about01-content {
  background-image: url(img/about01-background.svg);
  background-size: 60%;
}.about02-content {
  background-image: url(img/about02-background.svg);
  background-size: 25%;
background-position: bottom;
}.about03-content {
  background-image: url(img/about03-background.svg);
  background-size: 30%;
}

.number{
  font-size: 5.6rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  grid-row: 1/2;
  grid-column: 1/2;
}
.number-style{
  color: var(--logo-green-light);
  font-weight: 500;
  font-family: PingFang TC ,Arial, Helvetica, sans-serif;;
}
.about-content h3 {
  grid-row: 1/2;
  grid-column: 2/3;
  margin-top: 2rem;
  line-height: 3rem;
  justify-self: right;
  white-space: nowrap;
}
.depiction{
  grid-row: 2/3;
  grid-column: 1/3;
}
.about02-content .number {
  grid-column: 2/3;
  justify-self: right;
}
.about02-content h3 {
  grid-column: 1/2;
  justify-self: left;
}
/********************** teacher ***********************/
.teacher {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at center,#63616A 10%,#4E4D52 90%);
}
.teacher .subject>h2{
  color:#fff;
}
.teacher .subject>p{
  color:var(--close-white-color);
}
.teacher-content {
  margin-top: 2rem;
  height: 70vw;
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teacher-arrow{
  width: 5%;
  transition: 0.1s ease-out;
  opacity: 0.5;
}
.teacher-arrow img{
  width: 100%;
}
.arrow-pre-active{
  opacity: 1;
  cursor: pointer;
}
.arrow-pre-active:hover{
  transform: translateX(-5px);
}
.arrow-next-active{
  opacity: 1;
  cursor: pointer;
}
.arrow-next-active:hover {
  transform: translateX(5px);
}

.teacher-frame {
  overflow-x: scroll;
  width: max(70vw,15rem);
  height: max(65vw,15rem);
  scroll-snap-type: x mandatory;
  scrollbar-color: rgba(255, 255, 255, 0.26) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
.teacher-frame{
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.teacher-frame::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  display: none;
}
.teacher-frame::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 20px;  
}

.teacher-bar {
  display: flex;
  gap: 30vw;
  padding-left: 4vw;
  position: absolute;
  padding-right: 4vw;
}
/* .teacher-bar{
  width: max-content;

} */
.teacher-circle {
  width: max(60vw,14rem);
  height: max(60vw,14rem);
  background-color: #fff;
  border-radius: 50%;
  scroll-snap-align: center;
  transition: 0.5s;
}
/* .teacher-circle{
  display: inline-block;
  margin-right: 30vw;
} */
.teacher-circle-style{
  border: 0.1875rem solid var(--word-color);
  box-shadow: 0.1875rem 0.125rem var(--logo-yellow);
}
.teacher-circle-inside{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 14%;
  padding-bottom: 16.6%;
}
.teacher-photo {
  width: max(3.5rem,24%);
}
.teacher-name {
  font-size: 1.2rem;
  font-weight: 500;
  font-weight: bold;
}
.teacher-exp {
  font-size: 0.6875rem;
  color: var(--word-color);
  opacity: 0.78;
  text-align: center;
  word-break: keep-all;
  line-height: 0.85rem;
  max-width: 14.25rem;
}




  /********************** contact ***********************/
#contact {
  padding: 2.5rem 0;
}
.contact-block {
    width: 100%;
    /* height: 22.5rem; */
    display: flex;
    min-width: 19.0625rem;
    padding: 2.5rem 0;
}
.green-block-style {
  background-color: var(--logo-green-middle);
  border-radius: 0.4rem;
}
.contact-content {
  margin: auto;
  height: 77.8%;
  width: 83.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

#contact h2 {
  font-size: 1.75rem;
  color: #fff;
  font-weight: 400;
}
hr {
  width: 100%;
  color: #E8E8E8;
  opacity: 59%;
  margin-top: 1.25rem;
  border: 0.02rem solid #E8E8E8;
}
.contact-link-box {
  /* height: 7.0625rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 96%;
}

.contact-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 17rem;
  margin: 1.5625rem auto 0 auto;
  
}
.contact-link a {
  width: 100%;
  display: flex;
  align-items: center;
}
.contact-link img {
  margin-right: 6%;
  width: 1.3125rem;
  min-width: 1.3125rem;
  transition: 0.3s;
}
.contact-link a:hover img{
  transform: rotate(-15deg);
}
.contact-link p {
  color: #fff;
  font-size: 0.86rem;
  white-space: nowrap;
  font-weight: 400;
  font-family: PingFang TC;
}
.back-to-top {
  width: 2rem;
  height: 2rem;
  display: flex;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 3.2rem auto auto auto;
}
.back-to-top svg {
  width: 50%;
  margin: auto;
  transition: 0.3s;
}
.back-to-top:hover svg{
  transform: translateY(-25%);
}

/**************************** footer ***********************/
footer {
  background-image: url(img/footer-img.png);
  width: 100%;
  height: 34.625rem;
  background-size: cover;
  background-position: top center;
}

/********************** teacher effect *********************/
.circle-small{
  transform: scale(0.5);
}
/*********************** decoration *******************/
.decoration-circle{
  position: absolute;
  z-index: -1;
  height: auto;
  width: 50%;
  opacity: 0.6;
}
circle {
  width: 100%;
  height: 100%;
}
.about01 .decoration-circle {
  right: -16%;
  top: 19%;
  width: 43%;
}
.about02 .decoration-circle {
  left: -11%;
  top: 35%;
  width: 27%;
}
.about03 .decoration-circle {
  right: -25%;
  top: 13%;
  width: 60%;
}






 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html{
    font-size: 18px;
  }
  h3 {
    font-size: 1.5rem;
  }
  header {
    height: 70px;
  }
  .header-container {
    height: 46px;
    padding: 0 3% 0 5%;
  }
  .about {
    padding-bottom: 4.5rem;
  }
  .about-pic {
    height: 18rem;
  }
  .teacher {
    padding-bottom: 1.5rem;
  }
  
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  html{
    font-size: 24px;
  }
  .word-small{
    font-size: 0.8rem;
  }
  header {
    height: 80px;
  }
  .header-container {
    height: 50px;
    padding: 0 3% 0 5%;
  }
  .navi {
    padding: 30vh 20vw 35vh 20vw;
  }
  .banner {
    height: 72vh;
  }
  .banner-block {
    height: calc(94vh - 80px);
  }
  .intro {
    font-size: 0.83rem;
  }
  .intro-style {
    line-height: 1.25rem;
  }
  .down img {
    width: 4%;
  }
  .underline::after {
    top: -0.32rem;
    height: 0.42rem;
    border-radius: 0.1rem;
  }
  .about-content > .underline::after {
    top: -1.14rem;
  }
  .about-pic {
    height: 17rem;
    /* box-shadow: 0.28rem 0.28rem 0 var(--logo-green); */
  }
  .about01-content {
    background-size: 40%;
  }
  .about02-content {
    background-size: 14%;
  }
  .about03-content {
    background-size: 20%;
  }
  .container {
    width: min(88%);
  }
  .contact-block {
    /* height: 20.5rem; */
  }  
  .contact-link-box {
    align-items: baseline;
    margin: 3.5% auto auto auto;
  }
  .contact-link {
    margin-top: 1.25rem;
  }
  .contact-link img {
    margin-right: 8%;
  }
  .contact-link p {
    white-space: unset;
    }
  .back-to-top {
      margin: 2.2rem auto auto auto;
  }
    
 }

/* / Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  html{
    font-size: 18px;     /* 56pt = 40px ; 25pt = 18px */
  }
  .word-small{
    font-size: 0.94rem;
  }
  header {
    height: 3rem;
  }
  
  header > .container {
    width: 94%;
  }
  .header-container {
    height: 4rem;
    border-radius: 2rem;
    top: 1rem;
    z-index: 2;
    box-shadow: 0 0.12rem 0.4rem #0000001a;
    padding: 0 min(6.4%,65px);
  }
  #logo {
    width: 11rem;
  }
  .hamburger{
    display: none;
  }
  .nav-bar{
    display: flex;
    width: max(28%,300px);
    justify-content: space-between;
  }

  .container {
    width: min(90%,960px);
  }
  .banner-block {
    height: calc(100vh - 3rem);
  }
  .banner {
    height: 94%;
    margin: 0 auto auto auto;
  }
  .banner-style {
    border-radius: 0 0 0 0.94rem;
  }

  .intro-block{
    position: absolute;
    background-color: #fff;
    border-radius: 1.2rem;
    width: 32%;
    height: 23%;
    bottom: 1%;
    right: -3%;
    display: flex;
    padding: 3%;
    
  }
  .intro-block img{
    display: block;
    margin: auto;
    width: 69%;
  }
  .intro {
    margin: auto;
    font-size: 0.8rem;
  }
  .about {  
    padding-top: 4.5rem;
    padding-bottom: 5rem;
  }
  .subject {
    text-align: center;
  }
  .subject h2{
    font-size: 2.24rem;
  }
  .subject p {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .about-block {
    flex-direction: row;
    height: 20rem;
    gap: 7%;
  }
  .about-container {
    margin-top: 6rem;
  }
  .about02 {
    height: 20rem;
    flex-direction: row-reverse;
  }
  .about03 {
    height: 18rem;
    }
  .about02, .about03 {
    margin-top: 10rem;
    height: 18rem;
}

  .about-pic {
    height: unset;
    width: 58%;
    height: 100%;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    background-size: unset;
    background-position: center;
    width: 34%;
  }
  .about-content h3 {
    margin-top: -2rem;
  }
  .underline::after {
    top: -0.51rem;
    height: 0.64rem;
  }
  .about-content > .underline::after {
    top: -0.95rem;
    height: 0.56rem;
  }
  .depiction {
    line-height: 1.5rem;
  }
  .number {
    font-size: 7rem;
    top: -1rem;
  }
  h3 {
    font-size: 2rem;
  }



  .teacher{
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  .teacher .subject > p {
    width: 44rem;
    margin: 2rem auto 0 auto;
    text-align: left;
  }
  .teacher-circle {
    width: 21.44rem;
    height: 21.44rem;
  }
  .teacher-content {
    height: 33vw;
    margin-top: 1.6rem;
    min-height: 420px;
  }
  .teacher-frame {
    width: 27.44rem;
    height: 23.44rem;
  }
  .teacher-arrow {
    width: 3%;
  }
  .teacher-photo {
    width: 5.12rem;
}
    .teacher-circle-inside {
    padding-top: 4rem;
    justify-content:unset;
  }
    .teacher-name {
    font-size: 1.6rem;
    margin-top: 1.064rem;
  }
    .teacher-exp {
    font-size: 0.76rem;
    line-height: 1.04rem;
    max-width: 230px;
    margin-top: 0.6rem;
  }
     /********************** contact ************/
     #contact{
       padding: 3.8rem 0;
     }
     .contact-block {
      padding: 1.8rem 0;
    }
    .green-block-style {
      border-radius: 0.4rem;
    }
    .contact-content {
      flex-direction: row;
      width: 83%;
      height: 6.8rem;
    }
    #contact h2 {
      font-size: 1.5rem;
      white-space: nowrap;
    }
    hr {
      width: 1px;
      height: 100%;
      margin: 0;
      margin-left: 2rem;
  }
  .contact-link-box {
    margin: auto;
    height: 100%;
    margin-left: 4rem;
    width: unset;
  }
  .contact-link {
    margin: auto auto auto 0;
  }
  .contact-link img {
    margin-right: 1rem;
  }
  .contact-link a {
    width: min-content;
  }
  .contact-link p {
    white-space: nowrap;
    }
  
  .back-to-top {
    margin: 0;
    width: 2.4rem;
    height: 2.4rem;
  }



  footer{
    background-image: url(img/footer.png);
    height: 18rem;
  }

  /******************* decoration ******************/
  .about01 .decoration-circle {
    right: 37%;
    top: 5%;
    width: 49%;
  }
  .about02 .decoration-circle {
    left: 36%;
    top: 42%;
    width: 28%;
    opacity: 0.45;
  }
  .about03 .decoration-circle {
    right: 68%;
    opacity: 0.7;
  }
 /******************* effect ******************/
 .home-effect:after{
   width: 0%;
 }
 .home-effect-on{

 }
 .home-effect-on:after{
   width: 104%;
   transition: 0.8s;
 }



}

/* / Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  html{
    font-size: ;
  }
  .container {
    width: min(85%,1240px);
  }
  .about-block {
    /* gap: 10%;   */
  }

  .about-pic {
    width: 50%;
  }
  .about-content {
    width: 40%;
  }
  h3 {
    font-size: 2.8rem;
  }
  .about-content > .underline::after {
    top: -0.5rem;
  }
  .about01 .decoration-circle {
    right: 42%;
    width: 41%;
  }
  .teacher{
    padding-top: 4.5rem;
    padding-bottom: 2rem;
  }
  .teacher .subject > p {
    width: 50rem;
    line-height: 1.5rem;
  }
  #contact h2{
    font-size: 1.72rem;
  }
  hr{
    margin-left: 3rem;
  }
  .contact-link-box{
    margin-left: 4rem;
  }
}