
html{
  font-size: 16px;  /* 1 rem = 16 px */
}
html{
  overflow-x: hidden;
  touch-action: manipulation;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1;
}
body{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  touch-action: manipulation;
}
html, body,li {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;  
}

* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif, PingFang,'Microsoft JhengHei'; */
    font-family: PingFang TC,'Microsoft JhengHei';
    vertical-align: baseline;  
    box-sizing: border-box;
    position: relative;
}
ol, ul {
  list-style: none;
}
a{
  color: var(--word-color);
}

:root{
  --word-color:#2F2F2F;
  --logo-yellow:#F4AA14;
  --logo-green:#0B8D97;
  --logo-yellow-light:#FFD06F;
  --logo-green-light:#18CCD9;
  --background-color:#fff;
  --close-white-color:#FDFEFC;
  --logo-green-middle:#10A4AF;

}
p{
  font-size: ;
  color: var(--word-color);
  max-height: 100%;
}
li {
  max-height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
h1{

}
h3 {
  color: var(--word-color);
  font-size: 1.8rem;
  }
.word-small{
  line-height: 1.6;
  letter-spacing: 2px;
  font-size: 15px;
  word-break: break-all;
}
.word-medium{
  font-size: 28px;
}
.word-large{
  font-size: 32px;
}


header{
  height: 66px;
  box-shadow: 0 3px 5px #0000000f;
  display: flex;
  background-color: var(--logo-green-middle);
  z-index: 4;
}
.header-container {
  display: flex;
  width: 100%;
  border-radius: 0.25rem;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 0 4% 0 4%;
}
#logo {
  width: 8.5rem;
}
.hamburger{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: min(9%,45px);
}
.hamburger img {
  width: 100%;
  margin: auto;
  position: absolute;
}
.icon-rotate{
  transform: rotate(180deg);
  transition: 0.5s linear;
}

.nav {
  font-size: 21px;
  padding: 5px 0;
}
.nav-bar{
  display: none;
}
.nav img {
  width: 22px;
  /* top: 1px; */
}

@keyframes nav{
  0{
    top:0;
  }
  70%{
    top: -4px;
  }
  100%{
    top:0px;
  }
}
.nav-underline {
  width: 0%;
  height: 5px;
  background-color: var(--logo-green-light);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  position: absolute;
}
.page-now{
  color: var(--logo-yellow) !important;
}
.nav-hover a{
  top:0;
  transition: 0.3s;
  color: #fff;
}
.nav-hover:hover a{
  top: -4px;
}
.nav-hover:hover a.page-now{
  top: 0;
}
.nav-hover:hover .nav-underline{
  width: 100%;
}
.nav-hover:hover a.page-now .nav-underline{
  width: 0%;
}



.navi{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  background-color: var(--logo-green);
  padding: 26vh 15vw 35vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  top: -100vh;
}
.close-icon{
  display: none;
}
.navi .nav{
  display: none;
  width: 100%;
  z-index: 3;
}
.navi .nav a {
  font-size: 24px;
  color: var(--logo-green);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}
.navi a.page-now {
    color: var(--logo-yellow-light);
}
.navi svg {
  width: 9px;
}
.fb-link {
  width: 30px;
  align-self: center;
  top: 25vh;
  z-index: 2;
}
.fb-link img {
  width: 100%;
}
.navi-bg-white {
  width: 94vw;
  height: 69vh;
  position: absolute;
  top: 2vh;
  left: 3vw;
  z-index: 2;
  background-color: #fff;
  border-radius: 15px;
}
.navi-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.08;
  clip-path: polygon(68% 0, 100% 0, 100% 100%, 34% 100%);
}

.back-fixed{
    overflow: hidden;
}

.border-radius-frame{
  border-radius: 0.3125rem;
}

.container{
  /* width: 100%; */
  width: min(90%);
  margin: auto;
}

.banner-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(83vh - 66px);
  z-index: 2;
}
.banner {
    width: 100%;
    background-color: #000;
    height: 93%;
    margin: auto;
}
.banner-style{
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position-x: center;
  border-radius: 0.94rem;
}

.down {
  margin-top: auto;
  margin-bottom: 3vh;
  height: 2rem;
  display: flex;
}
.down{
  display: none;
}
.down img {
  margin: auto;
  width: 7%;
  }
.gap {
    background-color: var(--logo-green-middle);
    width: 100%;
    /* height: 3.625rem; */
}
/********************** main ***********************/
  main {
    width: 100%;
    /* height: 100%; */
}

.about {
  width: 100%;
  padding: 64px 0 100px 0;
}
.subject {
   /* margin-top: 5rem; */
   display: flex;
   flex-direction: column;
}
.subject h2 {
  margin: auto;
}


.underline{
  z-index: 2;
  /* transition: 0.5s; */
}
.underline::after {
  content: "";
  width: 104%;
  top: -0.25rem;
  left: -2%;
  height: 0.4375rem;
  position: relative;
  display: block;
  background-color: var(--logo-green-light);
  z-index: -1;
  border-radius: 0.125rem;
  transition: 0.5s;
}
.about-content>.underline::after{
  background-color:var(--logo-yellow-light);
  top: -1rem;
}
.teacher .underline::after{
  background-color: var(--logo-yellow);
}



.subject p {
  margin-top: 2.2rem;
  word-break: break-all;
}
.about-container {
  margin-top: 3.125rem;
  width: 100%;
  height: ;
}
.about02,.about03 {
  margin-top: 6.23rem;
}
.about-block{
  display: grid;
  flex-direction: column;
  gap: 1rem;
}
.about-pic {
  width: 100%;
  height: 14rem;
  background-size: cover;
  background-position: center;
  /* box-shadow: 0.31rem 0.31rem 0 var(--logo-green); */
  }
  .about01-pic{
    background-image: url(img/small-size/about01.jpg);
  }
  .about02-pic{
    background-image: url(img/small-size/about02.jpg);
  }
  .about03-pic{
    background-image: url(img/small-size/about03.jpg);
  }
.about-content {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    align-items: center;
    /* margin-top: 2rem; */
    background-position: center;
    background-repeat: no-repeat;
}
.about01-content {
  background-image: url(img/about01-background.svg);
  background-size: 60%;
}.about02-content {
  background-image: url(img/about02-background.svg);
  background-size: 16%;
}.about03-content {
  background-image: url(img/about03-background.svg);
  background-size: 22%;
}

.number{
  font-size: 90px;
  font-weight: 500;
  letter-spacing: 0.3rem;
  grid-row: 1/2;
  grid-column: 1/2;
}
.number-style{
  color: var(--logo-green-light);
  font-weight: 500;
  font-family: PingFang TC ,Arial, Helvetica, sans-serif;;
}
.about-content h3 {
  grid-row: 1/2;
  grid-column: 2/3;
  margin-top: 2rem;
  line-height: 3rem;
  justify-self: right;
  white-space: nowrap;
}
.depiction{
  grid-row: 2/3;
  grid-column: 1/3;
}
.about02-content .number {
  grid-column: 2/3;
  justify-self: right;
}
.about02-content h3 {
  grid-column: 1/2;
  justify-self: left;
}
/********************** teacher ***********************/
.teacher {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at center,#63616A 10%,#4E4D52 90%);
}
.teacher .subject>h2{
  color:#fff;
}
.teacher .subject>p{
  color:var(--close-white-color);
}
.teacher-content {
  margin-top: 2rem;
  height: 70vw;
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teacher-arrow{
  width: 5%;
  transition: 0.1s ease-out;
  opacity: 0.5;
}
.teacher-arrow img{
  width: 100%;
}
.arrow-pre-active{
  opacity: 1;
  cursor: pointer;
}
.arrow-pre-active:hover{
  transform: translateX(-5px);
}
.arrow-next-active{
  opacity: 1;
  cursor: pointer;
}
.arrow-next-active:hover {
  transform: translateX(5px);
}

.teacher-frame {
  overflow-x: scroll;
  width: max(70vw,15rem);
  height: max(65vw,15rem);
  scroll-snap-type: x mandatory;
  scrollbar-color: rgba(255, 255, 255, 0.26) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  pointer-events: none;
}
.teacher-frame{
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.teacher-frame::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  display: none;
}
.teacher-frame::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 20px;  
}

.teacher-bar {
  display: flex;
  /* gap: 30vw; */
  /* padding-left: 4vw; */
  position: absolute;
  /* padding-right: 4vw; */
  
}
/* .teacher-bar{
  width: max-content;

} */
.teacher-box {
  width: max(70vw,15rem);
  height: 100%;
}
.teacher-circle {
  width: max(60vw,14rem);
  height: max(60vw,14rem);
  background-color: #fff;
  border-radius: 50%;
  scroll-snap-align: center;
  transition: 0.5s;
  margin: auto;

  /* margin-right: 30vw; */
}
.teacher-circle:nth-of-type(7){
  margin-right: 0;
}
/* .teacher-circle{
  display: inline-block;
  margin-right: 30vw;
} */
.teacher-circle-style{
  border: 0.1875rem solid var(--word-color);
  box-shadow: 0.1875rem 0.125rem var(--logo-yellow);
}
.teacher-circle-inside{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 14%;
  padding-bottom: 16.6%;
}
.teacher-photo {
  width: max(3.5rem,24%);
}
.teacher-name {
  font-size: 20px;
  font-weight: 500;
  font-weight: bold;
}
.teacher-exp {
  font-size: 12px;
  color: var(--word-color);
  opacity: 0.78;
  text-align: center;
  /* word-break: keep-all; */
  line-height: 1rem;
  max-width: 84%;
  font-weight: bold;
  line-height: 0.9rem;
  
}




  /********************** contact ***********************/
#contact {
  padding: 2.5rem 0;
}
.contact-block {
    width: 100%;
    /* height: 22.5rem; */
    display: flex;
    min-width: 19.0625rem;
    padding: 2.5rem 0;
}
.green-block-style {
  background-color: var(--logo-green-middle);

}
.contact-content {
  margin: auto;
  height: 77.8%;
  width: 83.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

#contact h2 {
  color: #fff;
  font-weight: 400;
}
hr {
  width: 100%;
  color: #E8E8E8;
  opacity: 59%;
  margin-top: 1.25rem;
  border: 0.02rem solid #E8E8E8;
}
.contact-link-box {
  /* height: 7.0625rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 96%;
}

.contact-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 17rem;
  margin: 1.5625rem auto 0 auto;
  
}
.contact-link a {
  width: 100%;
  display: flex;
  align-items: center;
}
.contact-link img {
  transition: 0.3s;
  margin-right: 2vw;
    width: 1.2rem;
    min-width: 1.2rem;
}
.contact-link a:hover img{
  transform: rotate(-15deg);
}
.contact-link p {
  color: #fff;
  white-space: nowrap;
  font-weight: 400;
  font-family: PingFang TC;
  font-size: 15px;
}
.contact-icon {
  width: 7%;
  position: absolute;
  top: 28%;
  display: none;
  right: 5%;
  transform-origin: left bottom;
  animation: contactAnime 1s infinite forwards alternate ease-in-out;
}
@keyframes contactAnime{
  0{
      transform: rotate(-5deg);
  }
  100%{
      transform: rotate(8deg);
  }
}



/**************************** footer ***********************/


/********************** teacher effect *********************/
.circle-small{
  transform: scale(0.5);
}
/*********************** decoration *******************/
.decoration-circle{
  position: absolute;
  z-index: -1;
  height: auto;
  width: 50%;
  opacity: 0.6;
}
circle {
  width: 100%;
  height: 100%;
}
.about01 .decoration-circle {
  right: -16%;
  top: 19%;
  width: 43%;
}
.about02 .decoration-circle {
  left: -11%;
  top: 35%;
  width: 27%;
}
.about03 .decoration-circle {
  right: -25%;
  top: 13%;
  width: 60%;
}






 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html{
    font-size: 18px;
  }
  header {
    height: 70px;
  }
  #logo {
    width: 9.5rem;
}
  .header-container {
    height: 50px;
    padding: 0 4% 0 5%;
  }
  .hamburger {
    width: min(9%,42px);
}
  .word-small{
    font-size: 18px;
    letter-spacing: 2.5px;
    line-height: 1.4;
  }
  .word-medium{
    font-size: 32px;
  }
  .word-large{
    font-size: 36px;
  }
  .navi .nav a {
    font-size: 28px;
  }
  .about {
    padding-bottom: 4.5rem;
  }
  .about-pic {
    height: 18rem;
  }
  .about01-content {
    background-size: 50%;
  }
  .about02-content {
    background-size: 12%;
}
  .about03-content {
    background-size: 18%;
  }
  .number{
    font-size: 100px;
  }
  .teacher {
    padding-bottom: 2rem;
  }
  .teacher-content {
    height: 60vw;
  }
  .teacher-frame {
    height: max(55vw,15rem);
  }
  .teacher-bar {

  }
  .teacher-circle {
    width: max(54vw,14rem);
    height: max(54vw,14rem);
  }
  .teacher-name {
    font-size: 26px;
  }
  .teacher-exp{
    font-size: 14px;
    line-height: 18px;
  }
  .contact-link {
    width: 19rem;
  }
  .contact-link img {
    width: 1.3rem;
    min-width: 1.3rem;
  }
  
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  html{
    font-size: 24px;
  }
  .word-small{
    font-size: 19px;
  }
  .word-medium{
    font-size: 38px;
  }
  .word-large{
    font-size: 40px;
  }
  header {
    height: 80px;
  }
  .header-container {
    height: 50px;
    padding: 0 3% 0 3%;
  }
  .navi {
    padding: 25vh 20vw 33vh 20vw;
  }
  .navi .nav a {
    font-size: 32px;
  }
  .banner {
    height: 72vh;
  }
  .banner-block {
    height: calc(94vh - 80px);
  }
  .down img {
    width: 4%;
  }
  .underline::after {
    top: -0.32rem;
    height: 0.42rem;
    border-radius: 0.1rem;
  }
  .about-content > .underline::after {
    top: -25px;
  }
  .about-pic {
    height: 17rem;
    /* box-shadow: 0.28rem 0.28rem 0 var(--logo-green); */
  }
  .about01-content {
    background-size: 40%;
  }
  .about02-content {
    background-size: 14%;
  }
  .about03-content {
    background-size: 20%;
  }
  .number{
    font-size: 134px;
  }
  .teacher-name {
    font-size: 32px;
  }
  .teacher-exp{
    font-size: 18px;
    max-width: 13.25rem;
    line-height: 1.4;
  }

  .container {
    width: min(88%);
  }
  .contact-block {
    /* height: 20.5rem; */
  }  
  .contact-link-box {
    align-items: baseline;
    margin: 3.5% auto auto auto;
  }
  .contact-link {
    margin-top: 1.25rem;
  }
  .contact-link img {
    margin-right: 5%;
  }
  .contact-link p {
    white-space: unset;
    font-size: 20px;
    }
    
 }

/* / Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  html{
    font-size: 18px;     /* 56pt = 40px ; 25pt = 18px */
  }
  .word-small{
    font-size: 17px;
    line-height: 1.5;
  }
  .word-medium{
    font-size: 36px;
  }
  .word-large{
    font-size: 40px;
  }
  header {
    height: 3rem;
  }
  
  header > .container {
    /* width: 94%; */
  }
  .header-container {
    height: 4rem;
    border-radius: 2rem;
    top: 1rem;
    z-index: 2;
    padding: 0 min(6.4%,65px);
  }
  #logo {
    width: 12rem;
}
  .hamburger{
    display: none;
  }
  .nav-bar{
    display: flex;
    width: max(28%,350px);
    align-items: center;
    justify-content: space-between;
    line-height: unset;
  }
  

  .container {
    width: min(90%,960px);
  }
  .banner-block {
    height: calc(100vh - 3rem);
  }
  .banner {
    height: 94%;
    margin: 0 auto auto auto;
  }
  .banner-style {
    border-radius: 0 0 0 0.94rem;
  }
  .about {  
    padding-top: 4.5rem;
    padding-bottom: 5rem;
  }
  .subject {
    text-align: center;
  }
  .subject p {
    margin-top: 2rem;
  }
  .about-block {
    display: flex;
    flex-direction: row;
    height: 20rem;
  }
  .about-container {
    margin-top: 4rem;
  }
  .about02 {
    height: 20rem;
    flex-direction: row-reverse;
  }
  .about02, .about03 {
    margin-top: 10rem;
    height: 18rem;
}
  .about03 {
    height: 15.5rem;
  }
  


  .about-pic {
    height: unset;
    width: 58%;
    height: 100%;
  }
  .about01-pic {
    margin-right: 7%;
  }
  .about02-pic {
    margin-left: 7%;
  }
  .about03-pic {
    margin-right: 7%;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    background-size: unset;
    background-position: center;
    width: 34%;
  }
  .about-content h3 {
    margin-top: -2rem;
  }
  .underline::after {
    top: -0.51rem;
    height: 0.64rem;
  }
  .about-content > .underline::after {
    top: -0.95rem;
    height: 0.56rem;
  }
  .depiction {
    line-height: 1.4rem;
  }
  .number {
    font-size: 126px;
    top: -18px;
  }
  .teacher{
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  .teacher .subject > p {
    width: 44rem;
    margin: 2rem auto 0 auto;
    text-align: left;
  }
  .teacher-circle {
    width: 21.44rem;
    height: 21.44rem;
  }
  .teacher-content {
    height: 33vw;
    margin-top: 1.6rem;
    min-height: 420px;
  }
  .teacher-frame {
    width: 27.44rem;
    height: 23.44rem;
  }
  .teacher-bar{

  }
  .teacher-box {
    width: 27.44rem;
}
  .teacher-arrow {
    width: 3%;
  }
  .teacher-photo {
    width: 5.12rem;
}
    .teacher-circle-inside {
    padding-top: 4rem;
    justify-content:unset;
  }
    .teacher-name {
      font-size: 28px;
    margin-top: 1.064rem;
  }
    .teacher-exp {
      font-size: 16px;
      line-height: 1.2;
    max-width: 250px;
    margin-top: 0.6rem;
    font-weight: bold;
  }
     /********************** contact ************/
     #contact{
       padding: 3.8rem 0;
     }
     .contact-block {
      padding: 1.8rem 0;
    }
    .green-block-style {
     
    }
    .contact-content {
      flex-direction: row;
      width: 83%;
      height: 6.8rem;
    }
    #contact h2 {
      font-size: 28px;
      white-space: nowrap;
    }
    hr {
      width: 1px;
      height: 100%;
      margin: 0;
      margin-left: 3rem;
  }
  .contact-link-box {
    margin: auto;
    height: 100%;
    margin-left: 3rem;
    width: unset;
  }
  .contact-link {
    margin: auto auto auto 0;
  }
  .contact-link img {
    margin-right: 1rem;
  }
  .contact-link a {
    width: min-content;
  }
  .contact-link p {
    white-space: nowrap;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .contact-icon{
    display: block;
  }
  




  /******************* decoration ******************/
  .about01 .decoration-circle {
    right: 37%;
    top: 5%;
    width: 49%;
  }
  .about02 .decoration-circle {
    left: 36%;
    top: 42%;
    width: 28%;
    opacity: 0.45;
  }
  .about03 .decoration-circle {
    right: 68%;
    opacity: 0.7;
  }
 /******************* effect ******************/
 .home-effect:after{
   width: 0%;
 }
 .home-effect-on:after{
   width: 104%;
   transition: 0.8s;
 }



}

/* / Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  html{
    font-size: ;
  }
  .container {
    width: min(85%,1240px);
  }
  .word-small {
    font-size: 18px;
  }
  .word-medium{

  }
  .word-large{
  
  }
  .about-pic {
    width: 50%;
    margin-right: 10%;
  }
  .about-content {
    width: 40%;
  }
  .about-container {
    margin-top: 6rem;
}
  .about02 .about-pic{
    margin-left: 10%;
    margin-right: 0;
  }
  .about-content h3{
    line-height: unset;
  }
  .about-content > .underline::after {
    top: -0.4rem;
  }
  .about01 .decoration-circle {
    right: 42%;
    width: 41%;
  }
  .teacher{
    padding-top: 4.5rem;
    padding-bottom: 2rem;
  }
  .teacher .subject > p {
    width: 50rem;
  }
  .teacher-exp {
    font-size: 16px;
    font-weight: bold;
    max-width: 270px;
}
  #contact h2{
    font-size: 30px;
  }
  hr{
    margin-left: 3rem;
  }
  .contact-link-box{
    margin-left: 3rem;
  }
  .contact-link p {
    font-size: 18px;
  }
  .contact-icon {
    width: 8%;
    top: 24%;
    right: 7%;
  }
}